name: Deploy Website to OSS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. 拉取代码
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. 安装 Node
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      # 3. 安装 pnpm
      - name: Install pnpm
        run: npm install -g pnpm

      # 4. 安装依赖
      - name: Install dependencies
        run: pnpm install

      # 5. 构建所有apps的包 (Turbo会自动跳过未更新的包)
      - name: Turbo build
        run: |
          pnpm turbo run build

      # 6. 安装七牛 CLI
      - name: Install qiniu cli
        run: |
          wget https://github.com/qiniu/qshell/releases/download/v2.9.0/qshell-v2.9.0-linux-amd64.tar.gz
          # 解压
          tar -zxvf qshell-v2.9.0-linux-amd64.tar.gz
          # 显示解压后的文件
          ls -l
          # 赋予执行权限并移动到系统目录（方便全局调用）
          chmod +x qshell
          sudo mv qshell /usr/local/bin/qshell
          # 验证安装
          qshell -v

      # 7. 配置七牛
      - name: Configure Qiniu
        run: |
          qshell account ${{ secrets.QINIU_ACCESS_KEY }} ${{ secrets.QINIU_SECRET_KEY }} qiniu-oss

      # 8. 上传到 OSS（只上传变更的 app）
      - name: Upload changed apps to Qiniu OSS
        run: |
          rm -f refresh.txt

          for dir in apps/*; do
            name=$(basename "$dir")
            dist="$dir/dist"

            if [ ! -d "$dist" ]; then
              echo "Skip $name, no dist"
              continue
            fi

            if [ "$name" = "home" ]; then
              echo "Upload home to root"
              qshell qupload2 \
                --src-dir="$dist" \
                --bucket="${{ secrets.QINIU_BUCKET }}" \
                --overwrite

              echo "https://${{ secrets.QINIU_CDN_DOMAIN }}/" >> refresh.txt
            else
              echo "Upload $name to /$name"
              qshell qupload2 \
                --src-dir="$dist" \
                --bucket="${{ secrets.QINIU_BUCKET }}" \
                --key-prefix="$name/" \
                --overwrite

              echo "https://${{ secrets.QINIU_CDN_DOMAIN }}/$name/" >> refresh.txt
            fi
          done

          echo "CDN refresh list:"
          cat refresh.txt
      # 9. 刷新 CDN 缓存
      - name: Refresh Qiniu CDN
        run: |
         if [ -s refresh.txt ]; then
         qshell cdnrefresh -i refresh.txt
         else
         echo "No CDN refresh needed"
         fi
    
    
    
